html{
    line-height: 1.15;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.container-main{
    max-width: 1280px;
    margin: auto;
}
header{
    width: 100%;
    float: left;
}
.header-title{
    width: 100%;
    /* min-height: 62px; */
    background-color: #fff;
    float: left;
}
.header-top{
    width: 100%;
    height: 62px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
select option{
    background-color: #c6992f; 
    color: #fff;
}
.header-top .logs-list{
    display: flex;
}
.logs-list a{
    text-decoration: none;
    color: black;
}
.logs-list-item-1{
    margin-right: 20px;
}
.header-main{
    width: 100%;
    height: 100px;
    background-color: #c6992f;
    display: flex; /*mã code nhanh flex-center*/
    justify-content:space-evenly;
    align-items: center;
    
}
.header-main .img-logo{ 
    max-height: 90px;
    object-fit: cover;
    
  
/* .header-main .img-logo-mobile{
    width: 40px;
    height: 40px;
    margin: auto;*/
} 
.all-icon{
    background-image: url(../assets/img/all_icon1.png);
    background-repeat: no-repeat;
}
.btn-search{
    position: relative;
}
.icon-search {
    background-position: -193px 0;
    width: 25px;
    height: 24px;
    margin: 0 auto;
    position: absolute;
    top: 20%;
    right: 50%;
    
}
.search form{
    display: flex;
}
.search input{
    width: 300px;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    float: left;
}
button, input{
    overflow: visible;  
}
.menu ul{
    list-style: none;
}
.item-menu{
    padding: 0 15px;
}
.item-menu a{
    text-transform: uppercase;
    text-decoration: none;
    color: #f7f2e6;
}
/* các icon */
.icon-phone{
    width: 22px;
    height: 40px;
    background-position: -2px 0px;
    margin: 5px auto;
}
.icon-tablet{
    width: 55px;
    height: 30px;
    background-position: -25px 0px;
    margin: 10px auto;
}
.icon-dependency {
    width: 27px;
    height: 42px;
    background-position: -80px 0px;
    margin: 3px auto;
}
.icon-repair {
    width: 24px;
    height: 41px;
    background-position: -107px 0px;
    margin: 3px auto;
}
.icon-news {
    width: 30px;
    height: 30px;
    margin: 10px auto;
    background-position: -131px 0px;
}
.icon-warranty{
    width: 30px;
    height: 30px;
    margin: 10px auto;
    background-position: -40px -150px;
}
.menu ul{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.container{
    float: left;
    width: 100%;
   
    background-color:blueviolet;
}
.image img{
    width: 100%;
    
}
/* .image-slider{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    align-items: center;
} */
 .image img{
    width: 100%;
    height: 300px;
} 
/*click vào f12 chọn vào item, ảnh cách nhau 10px*/
.slick-initialized .slick-slide{
    margin: 0px; 
}
/*từ js class = slick-arrow qua css cho arrow*/
.slick-arrow{
    /*viết nhanh abscentery*/
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    border: none; /*do là button*/
    width: 30px;
    height: 40px;
    /*viết nhanh flex: center*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1;
    z-index: 2;
    transition: all 0.2s linear;/*viết nhanh tsall*/
    opacity: .5;
}
.slick-arrow:hover{
    background-color: #2cccff;
    color: white;
    opacity: 1;
}
/*css arrow-prev*/
.slick-prev{
    left: 0;
}
/*css arrow-next*/
.slick-next{
    right: 0;
} 
/* css class click-dots từ js, F12 tìm class nó */
.slick-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    list-style: none;
    display: flex !important; /*nằm ngang*/
    align-items: center;
    justify-content: center;
    gap: 0 10px;
}
/*css button*/
.slick-dots button{
    font-size: 0;
    width: 25px;
    height: 5px;
    border-radius: 100rem;
    border-color: rgba(51, 49, 49, 0.205);
    border: none;
    outline: none;
    transition: all 0.2s linear;
    opacity: .5;
    margin-bottom: 10px;
}
/*F12 tìm bấm vào button tìm click-active nằm trong class slick-dots */
.slick-dots .slick-active button{
    background-color: #2cccff;
}

